body {
  font-family:"Open Sans", sans-serif;
}

/* this is possible with the font shorthand proprety in CSS */
.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0 ,0, 0, 0.5);
}